* {
	padding: 0;
	margin: 0;
	background-color: #fcfcfc;
	font-family: Roboto, san-serif;
}

.container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas: ". head ."
	                   ". main ."
	                   "footer  footer footer";
	grid-template-rows: 140px 1fr 200px;
	grid-template-columns: 200px 1fr 200px;
}
.container>header {
	/*background-color: #EEE;*/
	grid-area: head;
}
.header {
	/*text-align: center;*/
}
.header .header-top {
	display: flex;
	/*width: 800px;*/
	margin: 10px 0;
	justify-content: space-between;
	background-color: #fcfcfc;
}
.search {
	border: 1px solid #EEE;
	width: 300px;
	display: flex;
	height: 40px;
	flex-grow: 1;
	margin: 0 50px; 
}
.search input {
	border: none;
	flex-grow: 1;
}
input:focus {
	outline: none;
}
.search .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 23px;
	padding: 10px;
}
.account {
	display: flex;
}
.account .avatar i{
	font-size: 50px;
	margin: 0 5px;
}
.account .info h4 {
	margin: 0px;
}
.account .info p {
	margin-bottom: 0px;
	margin-top: 10px;
}

.header .header-bot {
	background-color: #f7f7f7;
	height: 50px;
	margin-top: 10px;
}
.nav {
	display: flex;
	margin: 0 auto;
	height: 100%;
}
.nav li {
	list-style: none;
	padding: 10px 10px;
	text-transform: uppercase;
	color: #92929d;
}
.nav li:hover {
	border-bottom: 2px solid #65509e;
	color: #65509e;
	cursor: pointer;
}
.nav li a {
	display: block;
	text-decoration: none;
	color: #92929d;
}
.nav .vip {
	display: block;
	background: linear-gradient(90deg, rgba(178,11,186,0.8) 0%, rgba(203,16,16,1) 100%);
	padding: 5px;
	border-radius: 10px;		
}
/*.container>nav {
	background-color: #DDD;
	grid-area: sidebar;
}*/
.container>main {
	/*background-color: #AAA;*/
	grid-area: main;
	/*padding-top: 15px;*/
	padding-bottom: 200px;
}
.banner {
	text-align: center;
}
.can-you-like {
	border-bottom: 1px solid #EEE;
	padding-top: 20px;
	padding-bottom: 40px;
}
.can-you-like .title {
	padding-bottom: 20px;
	padding-left: 20px;
}
.can-you-like .title p {
	text-transform: capitalize;
	font-weight: 700;
	font-size: 30px;
}
.items {
	display: flex;
}
.item {
	/*width: 200px;*/
	padding: 0 20px;
}
.img {
	background-color: #DDD;
	background-image: url("https://loremflickr.com/250/250");
	background-size: cover;
	background-position: center;
	height: 220px;
	width: 220px;
}
.img .overlay {
	background-color: rgb(0,0,0,0.6);
	/*background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);*/
	color: white;
	font-size: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: all 0.8s;
}

.img:hover .overlay {
	opacity: 1;
	cursor: pointer;
}
.img .overlay i {
	transform: scale(0);
	transition: all 0.8s;
}
.img:hover .overlay i {
	transform: scale(1);
}
.info {
	padding-top: 10px;
	padding-bottom: 10px;
}
.info p.name {
	word-break: break-all;
	text-transform: capitalize;
	font-weight: 550;
	font-size: 16px;
	color: #32323d;
}
.info p.author {
	opacity: 0.5;
}

.zing-chart {
	display: flex;
	width: 1050px;
	height: 70px;
	justify-content: space-around;
}

.zing-chart .parent {
	width: 250px;
	height: 70px;
	/*margin: 0 20px;*/
	/*background-image: url("https://loremflickr.com/250/250");*/
	overflow: hidden;
}
.zing-chart .parent .child {
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url("https://loremflickr.com/250/250");
	background-size: cover;
	background-position: center;

}

.zing-chart .parent:hover .child {
	transform: scale(1.2);
	transition: 0.5s;
}

.container>footer {
	background-color: #222;
	grid-area: footer;
	/*padding-top: 200px;*/
}
