* {
	padding: 0;
	margin: 0;
	background-color: #fcfcfc;
	font-family: Roboto, san-serif;
}

.container {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas: ". head ."
	                   ". main ."
	                   "footer  footer footer";
	grid-template-rows: 140px 1fr 200px;
	grid-template-columns: 200px 1fr 200px;
}
.container>header {
	/*background-color: #EEE;*/
	grid-area: head;
}
.header {
	/*text-align: center;*/
}
.header .header-top {
	display: flex;
	/*width: 800px;*/
	margin: 10px 0;
	justify-content: space-between;
	background-color: #fcfcfc;
}
.search {
	border: 1px solid #EEE;
	width: 300px;
	display: flex;
	height: 40px;
	flex-grow: 1;
	margin: 0 50px; 
}
.search input {
	border: none;
	flex-grow: 1;
}
input:focus {
	outline: none;
}
.search .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 23px;
	padding: 10px;
}
.account {
	display: flex;
}
.account .avatar i{
	font-size: 50px;
	margin: 0 5px;
}
.account .info h4 {
	margin: 0px;
}
.account .info p {
	margin-bottom: 0px;
	margin-top: 10px;
}

.header .header-bot {
	background-color: #f7f7f7;
	height: 50px;
	margin-top: 20px;
}
.nav {
	display: flex;
	margin: 0 auto;
	height: 100%;
}
.nav li {
	list-style: none;
	padding: 10px 10px;
	text-transform: uppercase;
	color: #92929d;
}

.nav li a {
	display: block;
	text-decoration: none;
	color: #92929d;
}
.nav li:hover {
	border-bottom: 2px solid #65509e;
	color: #65509e;
	cursor: pointer;
}
.nav .vip {
	display: block;
	background: linear-gradient(90deg, rgba(178,11,186,0.8) 0%, rgba(203,16,16,1) 100%);
	padding: 5px;
	border-radius: 10px;		
}
/*.container>nav {
	background-color: #DDD;
	grid-area: sidebar;
}*/
.container>main {
	/*background-color: #AAA;*/
	grid-area: main;
	padding-bottom: 200px;
}
.banner {
	text-align: center;
}

.listen-all {
	margin-top: 20px;
}

.listen-all .head button img{
	/*padding: 5px;*/
	padding: auto 5px;
}
.bt {
	float: left;
	margin-right: 10px;
}
.bt button {
	/*height: 20px;*/
	padding: 7px;
	border-radius: 5px;
	border: none;
	background-color: #65509e;
	color: white;
}
.bt:hover button {
	background-color: white;
	color: #65509e;
	box-shadow: -5px 5px 20px -8px black;
}
.icon {
	/*float: right;*/
}
.container>footer {
	background-color: #222;
	grid-area: footer;
	/*padding-top: 200px;*/
}
